# Data Cleaning

### Viewing

In [1]:
import pandas as pd

In [2]:
temporary_path = 'final_dataset.csv'
data = pd.read_csv(temporary_path)

In [3]:
data.head()

,Unnamed: 0,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,...,Engine Volume,Horsepower,Engine Cylinders,Drive train,Door Count,Wheels,Version,Battery capacity in kW,Number of electric motors,Range
0,270,Land Rover,Range Rover Sport,2020,99 500 $,"Armenia, Yerevan",29000 km,SUV / Truck,Gasoline,Semi-automatic,...,NaN,NaN,NaN,NaN,NaN,NaN,HST,NaN,NaN,NaN
1,6336,Lexus,LX 570,2019,99 500 $,"Armenia, Yerevan",65000 km,SUV / Truck,Gasoline,Automatic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8118,BMW,740,2021,99 000 $,"Armenia, Yerevan",52000 km,Sedan,Gasoline,Automatic,...,NaN,NaN,NaN,NaN,NaN,NaN,Elindividual M PAKCHET,NaN,NaN,NaN
3,2236,Mercedes-Benz,S 450,2019,98 700 $,Armenia,30000 km,Sedan,Gasoline,Automatic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1256,Lexus,GX 460,2023,98 000 $,Armenia,4000 km,SUV / Truck,Gasoline,Automatic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
del data['Unnamed: 0']

In [5]:
data.reset_index(drop=True)

,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,Hand Drive,...,Engine Volume,Horsepower,Engine Cylinders,Drive train,Door Count,Wheels,Version,Battery capacity in kW,Number of electric motors,Range
0,Land Rover,Range Rover Sport,2020,99 500 $,"Armenia, Yerevan",29000 km,SUV / Truck,Gasoline,Semi-automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,HST,NaN,NaN,NaN
1,Lexus,LX 570,2019,99 500 $,"Armenia, Yerevan",65000 km,SUV / Truck,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,740,2021,99 000 $,"Armenia, Yerevan",52000 km,Sedan,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,Elindividual M PAKCHET,NaN,NaN,NaN
3,Mercedes-Benz,S 450,2019,98 700 $,Armenia,30000 km,Sedan,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lexus,GX 460,2023,98 000 $,Armenia,4000 km,SUV / Truck,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9472,Toyota,Vitz,2001,1 100 000 ֏,"Armenia, Yerevan",300000 km,Hatchback,Gas,Automatic,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9473,Opel,Astra,1994,1 000 000 ֏,"Armenia, Kotayk",326000 km,Hatchback,Gasoline and gas,Manual,Left,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9474,VAZ (Lada),2110,2000,1 000 000 ֏,"Armenia, Yerevan",200000 km,Sedan,Gasoline,Manual,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9475,BMW,318,1994,1 000 000 ֏,"Armenia, Lori",170000 km,Sedan,Gasoline,Manual,Left,...,1.8,116 hp,4.0,RWD,4.0,"15""",NaN,NaN,NaN,NaN
9476,VAZ (Lada),2121 NIVA (4x4),1988,1 000 $,"Armenia, Yerevan",130000 km,SUV / Truck,Gas,Manual,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9477 entries, 0 to 9476
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   car                        9477 non-null   object
 1   model                      9477 non-null   object
 2   year                       9477 non-null   int64
 3   price                      9477 non-null   object
 4   region                     9477 non-null   object
 5   Mileage                    9477 non-null   object
 6   Body Style                 9476 non-null   object
 7   Engine                     9476 non-null   object
 8   Gearbox                    9476 non-null   object
 9   Hand Drive                 9476 non-null   object
 10  Color                      9476 non-null   object
 11  Condition                  9477 non-null   object
 12  link                       9477 non-null   object
 13  Interior Color             3304 non-null   object
 14  Engine Volume              3510 non-null   float64
 15  Horsepower                 2720 non-null   object
 16  Engine Cylinders           2304 non-null   float64
 17  Drive train                3388 non-null   object
 18  Door Count                 2972 non-null   float64
 19  Wheels                     3362 non-null   object
 20  Version                    4468 non-null   object
 21  Battery capacity in kW     491 non-null    object
 22  Number of electric motors  307 non-null    float64
 23  Range                      378 non-null    object
dtypes: float64(4), int64(1), object(19)
memory usage: 1.7+ MB

In [7]:
data.describe()

,year,Engine Volume,Engine Cylinders,Door Count,Number of electric motors
count,9477.000000,3510.000000,2304.000000,2972.000000,307.000000
mean,2014.759629,2.675527,5.031250,4.368775,1.693811
std,6.961621,1.025865,1.612176,0.630169,0.891533
min,1938.000000,0.200000,1.000000,1.000000,1.000000
25%,2011.000000,2.000000,4.000000,4.000000,1.000000
50%,2017.000000,2.500000,4.000000,4.000000,1.000000
75%,2020.000000,3.000000,6.000000,5.000000,2.000000
max,2024.000000,6.800000,16.000000,5.000000,4.000000

In [8]:
data.isnull().sum()

car                             0
model                           0
year                            0
price                           0
region                          0
Mileage                         0
Body Style                      1
Engine                          1
Gearbox                         1
Hand Drive                      1
Color                           1
Condition                       0
link                            0
Interior Color               6173
Engine Volume                5967
Horsepower                   6757
Engine Cylinders             7173
Drive train                  6089
Door Count                   6505
Wheels                       6115
Version                      5009
Battery capacity in kW       8986
Number of electric motors    9170
Range                        9099
dtype: int64

In [9]:
missing_values_count = data.isnull().sum()

# The percentage of missing values in each column
missing_values_percentage = (missing_values_count / len(data)) * 100

missing_values_summary = pd.DataFrame({
    'Missing Values Count': missing_values_count,
    'Percentage of Missing Values': missing_values_percentage
})

missing_values_summary = missing_values_summary.sort_values(by='Percentage of Missing Values', ascending=False)

missing_values_summary

                           Missing Values Count  Percentage of Missing Values
Number of electric motors                  9170                     96.760578
Range                                      9099                     96.011396
Battery capacity in kW                     8986                     94.819036
Engine Cylinders                           7173                     75.688509
Horsepower                                 6757                     71.298934
Door Count                                 6505                     68.639865
Interior Color                             6173                     65.136647
Wheels                                     6115                     64.524639
Drive train                                6089                     64.250290
Engine Volume                              5967                     62.962963
Version                                    5009                     52.854279
Body Style                                    1                      0.010552
Engine                                        1                      0.010552
Gearbox                                       1                      0.010552
Hand Drive                                    1                      0.010552
Color                                         1                      0.010552
car                                           0                      0.000000
model                                         0                      0.000000
Condition                                     0                      0.000000
Mileage                                       0                      0.000000
region                                        0                      0.000000
price                                         0                      0.000000
year                                          0                      0.000000
link                                          0                      0.000000

In [10]:
data.loc[data['Body Style'].isnull()]

,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,Hand Drive,...,Engine Volume,Horsepower,Engine Cylinders,Drive train,Door Count,Wheels,Version,Battery capacity in kW,Number of electric motors,Range
8738,Infiniti,Q50,2019,12 000 $,"Armenia, Shirak",28000 km,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.loc[data['Body Style'].isnull()]['link']

8738    https://auto.am/offer/3036468
Name: link, dtype: object

In [12]:
data = data.drop(8738)
data.reset_index(drop=True)

,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,Hand Drive,...,Engine Volume,Horsepower,Engine Cylinders,Drive train,Door Count,Wheels,Version,Battery capacity in kW,Number of electric motors,Range
0,Land Rover,Range Rover Sport,2020,99 500 $,"Armenia, Yerevan",29000 km,SUV / Truck,Gasoline,Semi-automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,HST,NaN,NaN,NaN
1,Lexus,LX 570,2019,99 500 $,"Armenia, Yerevan",65000 km,SUV / Truck,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,740,2021,99 000 $,"Armenia, Yerevan",52000 km,Sedan,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,Elindividual M PAKCHET,NaN,NaN,NaN
3,Mercedes-Benz,S 450,2019,98 700 $,Armenia,30000 km,Sedan,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lexus,GX 460,2023,98 000 $,Armenia,4000 km,SUV / Truck,Gasoline,Automatic,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9471,Toyota,Vitz,2001,1 100 000 ֏,"Armenia, Yerevan",300000 km,Hatchback,Gas,Automatic,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9472,Opel,Astra,1994,1 000 000 ֏,"Armenia, Kotayk",326000 km,Hatchback,Gasoline and gas,Manual,Left,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9473,VAZ (Lada),2110,2000,1 000 000 ֏,"Armenia, Yerevan",200000 km,Sedan,Gasoline,Manual,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9474,BMW,318,1994,1 000 000 ֏,"Armenia, Lori",170000 km,Sedan,Gasoline,Manual,Left,...,1.8,116 hp,4.0,RWD,4.0,"15""",NaN,NaN,NaN,NaN
9475,VAZ (Lada),2121 NIVA (4x4),1988,1 000 $,"Armenia, Yerevan",130000 km,SUV / Truck,Gas,Manual,Left,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data['Version'].unique()[:50]

array(['HST', nan, 'Elindividual M PAKCHET', '3.5 Yerevani Avtosrah',
       'KHANN', 'LIMITED', 'Carbon Edition', 'Inferno top car',
       'CERAMIC PRO9', '40i M Sport', 'Xdrive 40i', '5.0LITR. 525hp',
       '3.5 AWD', 'SPORT PREMIUM', 'Rubicon', 'Elektromobil',
       'designo full', '5.3', '63s / Full', 'M50i', 'M', 'Rest 750',
       'Gerazanc', 'b17', 'Doch 3,5', 'Life', 'E-DYNAMIC', 'RWD', '500',
       '4.4', 'Endeavor', 'Սեդան', 'Grand Touring', 'S',
       '1.6 մեխանիկական', 'GS', 'ELECTRIC ЭЛЕКТРОМОБИЛЬ', 'SV',
       'Գնված է Երևանի Ավտոսրահից', 'VOLT', 'eL', 'LR2',
       '1.6 լ, DOHC մատոռ, ռեսթայլինգ', 'Restyle', 'ST',
       'LIMITED FULL Չվթարված։ Գազ', '1.8 SV', 'USA', '4×4', 'Sport'],
      dtype=object)

In [14]:
del data['Version']

In [15]:
data.isnull().sum()

car                             0
model                           0
year                            0
price                           0
region                          0
Mileage                         0
Body Style                      0
Engine                          0
Gearbox                         0
Hand Drive                      0
Color                           0
Condition                       0
link                            0
Interior Color               6172
Engine Volume                5966
Horsepower                   6756
Engine Cylinders             7172
Drive train                  6088
Door Count                   6504
Wheels                       6114
Battery capacity in kW       8985
Number of electric motors    9169
Range                        9098
dtype: int64

### Engine Volume ###

In [16]:
step1 = ['year', 'car', 'model']
step2 = ['year',  'car', 'Body Style']
step3 = ['year', 'car']

In [17]:
# Group by specified columns and transform 'Engine Volume' column by filling missing values with median of each group
data['Engine Volume'] = data.groupby(step1)['Engine Volume'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Engine Volume'].isnull().sum()

2083

In [18]:
data['Engine Volume'] = data.groupby(step2)['Engine Volume'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Engine Volume'].isnull().sum()

1083

In [19]:
data['Engine Volume'] = data.groupby(step3)['Engine Volume'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Engine Volume'].isnull().sum()

660

In [20]:
data['Engine Volume'] = data['Engine Volume'].fillna(data['Engine Volume'].median())
data['Engine Volume'].isnull().sum()

0

### Horsepower ###

Converting the Horsepower column to integer values and filling the NaN values according to existing data.

In [21]:
data['Horsepower'] = data['Horsepower'].astype(str).str.extract(r'(\d+)').astype(float)

Find matches by year, make and model.

In [22]:
data['Horsepower'] = data.groupby(step1)['Horsepower'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Horsepower'].isnull().sum()

2374

Since there are still NA values, let's find matches by just year and make.

In [23]:
data['Horsepower'] = data.groupby(step2)['Horsepower'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Horsepower'].isnull().sum()

1130

In [24]:
data['Horsepower'] = data.groupby(step3)['Horsepower'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Horsepower'].isnull().sum()

551

Now, let's fill in with the median value.

In [25]:
data['Horsepower'] = data['Horsepower'].fillna(data['Horsepower'].median()).astype(int)
data['Horsepower'].isnull().sum()

0

Done! No more missing values for horsepower.

### Engine Cylinders ###

In [26]:

data['Engine Cylinders'] = data.groupby(step1)['Engine Cylinders'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Engine Cylinders'].isnull().sum()

2878

In [27]:

data['Engine Cylinders'] = data.groupby(step2)['Engine Cylinders'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Engine Cylinders'].isnull().sum()

1472

In [28]:
data['Engine Cylinders'] = data.groupby(step3)['Engine Cylinders'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)
data['Engine Cylinders'].isnull().sum()

961

In [29]:
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(data['Engine Cylinders'].median()).astype(int)
data['Engine Cylinders'].isnull().sum()

0

### Drive train ###

In [30]:
data['Drive train'].unique()

array([nan, 'AWD 4x4', 'FWD', 'RWD'], dtype=object)

In [31]:
# Group by specified columns and transform 'Drive train' column by filling missing values with median of each group
data['Drive train'] = data.groupby(step1)['Drive train'].transform(lambda x: x.fillna(x.mode()[0]) if x.notnull().any() else x)

data['Drive train'].isnull().sum()

1899

In [32]:
# Group by specified columns and transform 'Drive train' column by filling missing values with median of each group
data['Drive train'] = data.groupby(step2)['Drive train'].transform(lambda x: x.fillna(x.mode()[0]) if x.notnull().any() else x)

data['Drive train'].isnull().sum()

847

In [33]:
data['Drive train'] = data.groupby(step3)['Drive train'].transform(lambda x: x.fillna(x.mode()[0]) if x.notnull().any() else x)

data['Drive train'].isnull().sum()

419

In [34]:
data['Drive train'] = data['Drive train'].fillna(data['Drive train'].mode()[0])
data['Drive train'].isnull().sum()

0

In [35]:
data.isnull().sum()

car                             0
model                           0
year                            0
price                           0
region                          0
Mileage                         0
Body Style                      0
Engine                          0
Gearbox                         0
Hand Drive                      0
Color                           0
Condition                       0
link                            0
Interior Color               6172
Engine Volume                   0
Horsepower                      0
Engine Cylinders                0
Drive train                     0
Door Count                   6504
Wheels                       6114
Battery capacity in kW       8985
Number of electric motors    9169
Range                        9098
dtype: int64

### Wheel ###

In [36]:
data['Wheels'] = data.groupby(step1)['Wheels'].transform(lambda x: x.fillna(x.mode()[0]) if x.notnull().any() else x)

data['Wheels'].isnull().sum()

1959

In [37]:
data['Wheel'] = data.groupby(step2)['Wheels'].transform(lambda x: x.fillna(x.mode()[0]) if x.notnull().any() else x)

data['Wheels'].isnull().sum()

1959

In [38]:
data['Wheels'] = data.groupby(step3)['Wheels'].transform(lambda x: x.fillna(x.mode()[0]) if x.notnull().any() else x)

data['Wheels'].isnull().sum()

426

In [39]:
data['Wheels'] = data['Wheels'].fillna(data['Wheels'].mode()[0])
data['Wheels'].isnull().sum()

0

### Expressing the price as dolars and mileage as km ###

In [40]:
data['price'] = data['price'].str.strip()
test = data['price'].str[-1]
test.unique()

array(['$', '֏', '₽', '€'], dtype=object)

In [41]:
def to_dol_converter(x):
    if '₽' in x:
        return int(''.join(filter(str.isdigit, x))) * 0.011
    elif '€' in x:
        return int(''.join(filter(str.isdigit, x))) * 0.92
    elif '֏' in x:
        return int(''.join(filter(str.isdigit, x))) * 0.0025
    elif '$' in x:
        return int(''.join(filter(str.isdigit, x)))
    

data['price'] = data['price'].apply(to_dol_converter)

Convert miles to km.

In [42]:
data['Mileage'] = data['Mileage'].apply(lambda x: int(x.split(' ')[0]) * 1.6 if 'miles' in x else int(x.split(' ')[0]))
data

,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,Hand Drive,...,Engine Volume,Horsepower,Engine Cylinders,Drive train,Door Count,Wheels,Battery capacity in kW,Number of electric motors,Range,Wheel
0,Land Rover,Range Rover Sport,2020,99500.0,"Armenia, Yerevan",29000.0,SUV / Truck,Gasoline,Semi-automatic,Left,...,3.0,365,6,AWD 4x4,NaN,"20""",NaN,NaN,NaN,"20"""
1,Lexus,LX 570,2019,99500.0,"Armenia, Yerevan",65000.0,SUV / Truck,Gasoline,Automatic,Left,...,3.5,294,5,AWD 4x4,NaN,"18""",NaN,NaN,NaN,"18"""
2,BMW,740,2021,99000.0,"Armenia, Yerevan",52000.0,Sedan,Gasoline,Automatic,Left,...,3.0,340,6,AWD 4x4,NaN,"20""",NaN,NaN,NaN,"19"""
3,Mercedes-Benz,S 450,2019,98700.0,Armenia,30000.0,Sedan,Gasoline,Automatic,Left,...,3.0,367,6,AWD 4x4,NaN,"19""",NaN,NaN,NaN,"19"""
4,Lexus,GX 460,2023,98000.0,Armenia,4000.0,SUV / Truck,Gasoline,Automatic,Left,...,2.5,290,8,AWD 4x4,NaN,"19""",NaN,NaN,NaN,"19"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9472,Toyota,Vitz,2001,2750.0,"Armenia, Yerevan",300000.0,Hatchback,Gas,Automatic,Right,...,1.5,109,4,FWD,NaN,"15""",NaN,NaN,NaN,"15"""
9473,Opel,Astra,1994,2500.0,"Armenia, Kotayk",326000.0,Hatchback,Gasoline and gas,Manual,Left,...,1.6,75,4,AWD 4x4,NaN,"14""",NaN,NaN,NaN,"14"""
9474,VAZ (Lada),2110,2000,2500.0,"Armenia, Yerevan",200000.0,Sedan,Gasoline,Manual,Left,...,1.5,86,4,AWD 4x4,NaN,"16""",NaN,NaN,NaN,NaN
9475,BMW,318,1994,2500.0,"Armenia, Lori",170000.0,Sedan,Gasoline,Manual,Left,...,1.8,116,4,RWD,4.0,"15""",NaN,NaN,NaN,"15"""
9476,VAZ (Lada),2121 NIVA (4x4),1988,1000.0,"Armenia, Yerevan",130000.0,SUV / Truck,Gas,Manual,Left,...,2.5,200,4,AWD 4x4,NaN,"17""",NaN,NaN,NaN,NaN

### Viewing the 5 most expensive cars ###

In [43]:
data.sort_values('price')[['car', 'model', 'year', 'price', 'link']][-5:]

                car      model  year     price                           link
3989  Mercedes-Benz  G 63 AMG   2020  292700.0  https://auto.am/offer/2836355
2447    Rolls Royce  Cullinan   2018  430000.0  https://auto.am/offer/3035376
1814    Rolls Royce    Wraith   2021  515000.0  https://auto.am/offer/3019026
1114    Rolls Royce  Cullinan   2022  695000.0  https://auto.am/offer/3036948
1115    Rolls Royce  Cullinan   2022  695000.0  https://auto.am/offer/2992666

### Stripping and Dropping the columns of not electric cars as well as other not necessary columns ###

In [44]:
data.drop(['Door Count', 'Interior Color', 'Wheels', 'Wheel'], axis=1, inplace=True)
data_ev = data[data['Engine'] == 'Electric']

In [45]:
data.drop(['Battery capacity in kW', 'Number of electric motors', 'Range',], axis = 1, inplace = True)
data.to_csv('Final_Project_Dataset.csv', index = False)
data_nev = data[data['Engine'] != 'Electric']
data_nev.to_csv('Not_Electric.csv', index = False)

### Electric Vehicles

In [46]:
data_ev

,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,Hand Drive,Color,Condition,link,Engine Volume,Horsepower,Engine Cylinders,Drive train,Battery capacity in kW,Number of electric motors,Range
46,BMW,iX3,2022,90700.0,Armenia,200.0,SUV / Truck,Electric,Automatic,Left,Black,Excellent,https://auto.am/offer/2847281,3.0,340,6,AWD 4x4,NaN,NaN,NaN
50,Mercedes-Benz,EQS,2022,90000.0,"Armenia, Yerevan",6000.0,Hatchback,Electric,Automatic,Left,Black,New,https://auto.am/offer/2985239,3.5,288,8,RWD,100 кв/ч,NaN,700 km
65,Honda,e:NS1,2023,24750.0,Armenia,20.0,SUV / Truck,Electric,Automatic,Left,White,New,https://auto.am/offer/3015152,1.5,204,4,FWD,68.8,1.0,510 km
66,Aiqar,eQ3,2024,24750.0,"Armenia, Yerevan",10.0,Wagon,Electric,Automatic,Left,Silver,New,https://auto.am/offer/3006110,2.5,184,4,AWD 4x4,67,1.0,401 km
68,Neta,X,2024,24750.0,Armenia,10.0,Wagon,Electric,Automatic,Left,Black,New,https://auto.am/offer/3039876,2.5,163,4,FWD,68,1.0,501 km
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9157,Tesla,Model X,2023,100000.0,"Armenia, Yerevan",1200.0,SUV / Truck,Electric,Automatic,Left,Black,New,https://auto.am/offer/3034391,2.5,670,4,AWD 4x4,100,2.0,560 km
9166,Honda,e:NP1,2023,27250.0,Armenia,20.0,SUV / Truck,Electric,Automatic,Left,White,New,https://auto.am/offer/3015149,1.5,204,4,FWD,68.8,1.0,510 km
9169,Chevrolet,Volt,2013,10900.0,"Armenia, Yerevan",97600.0,Hatchback,Electric,Automatic,Left,Red,Excellent,https://auto.am/offer/2804794,1.4,149,4,FWD,NaN,NaN,NaN
9261,Chevrolet,Volt,2012,10500.0,Armenia,160000.0,Hatchback,Electric,Automatic,Left,Silver,Excellent,https://auto.am/offer/3027432,1.4,149,4,FWD,1.4,1.0,65 km
9406,Chevrolet,Volt,2014,10000.0,"Armenia, Lori",224000.0,Hatchback,Electric,Automatic,Left,White,Excellent,https://auto.am/offer/3036840,1.4,149,4,FWD,17.1,NaN,80 km

In [47]:
data_ev['Battery capacity in kW'] = data_ev['Battery capacity in kW'].astype(str).str.extract(r'(\d+)').astype(float)
data_ev['Battery capacity in kW']
data_ev['Range'] = data_ev['Range'].astype(str).str.extract(r'(\d+)').astype(float)
data_ev['Range']

C:\Users\User\AppData\Local\Temp\ipykernel_12496\1712465076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ev['Battery capacity in kW'] = data_ev['Battery capacity in kW'].astype(str).str.extract(r'(\d+)').astype(float)
C:\Users\User\AppData\Local\Temp\ipykernel_12496\1712465076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ev['Range'] = data_ev['Range'].astype(str).str.extract(r'(\d+)').astype(float)

46        NaN
50      700.0
65      510.0
66      401.0
68      501.0
        ...
9157    560.0
9166    510.0
9169      NaN
9261     65.0
9406     80.0
Name: Range, Length: 503, dtype: float64

In [48]:
data_ev

,car,model,year,price,region,Mileage,Body Style,Engine,Gearbox,Hand Drive,Color,Condition,link,Engine Volume,Horsepower,Engine Cylinders,Drive train,Battery capacity in kW,Number of electric motors,Range
46,BMW,iX3,2022,90700.0,Armenia,200.0,SUV / Truck,Electric,Automatic,Left,Black,Excellent,https://auto.am/offer/2847281,3.0,340,6,AWD 4x4,NaN,NaN,NaN
50,Mercedes-Benz,EQS,2022,90000.0,"Armenia, Yerevan",6000.0,Hatchback,Electric,Automatic,Left,Black,New,https://auto.am/offer/2985239,3.5,288,8,RWD,100.0,NaN,700.0
65,Honda,e:NS1,2023,24750.0,Armenia,20.0,SUV / Truck,Electric,Automatic,Left,White,New,https://auto.am/offer/3015152,1.5,204,4,FWD,68.0,1.0,510.0
66,Aiqar,eQ3,2024,24750.0,"Armenia, Yerevan",10.0,Wagon,Electric,Automatic,Left,Silver,New,https://auto.am/offer/3006110,2.5,184,4,AWD 4x4,67.0,1.0,401.0
68,Neta,X,2024,24750.0,Armenia,10.0,Wagon,Electric,Automatic,Left,Black,New,https://auto.am/offer/3039876,2.5,163,4,FWD,68.0,1.0,501.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9157,Tesla,Model X,2023,100000.0,"Armenia, Yerevan",1200.0,SUV / Truck,Electric,Automatic,Left,Black,New,https://auto.am/offer/3034391,2.5,670,4,AWD 4x4,100.0,2.0,560.0
9166,Honda,e:NP1,2023,27250.0,Armenia,20.0,SUV / Truck,Electric,Automatic,Left,White,New,https://auto.am/offer/3015149,1.5,204,4,FWD,68.0,1.0,510.0
9169,Chevrolet,Volt,2013,10900.0,"Armenia, Yerevan",97600.0,Hatchback,Electric,Automatic,Left,Red,Excellent,https://auto.am/offer/2804794,1.4,149,4,FWD,NaN,NaN,NaN
9261,Chevrolet,Volt,2012,10500.0,Armenia,160000.0,Hatchback,Electric,Automatic,Left,Silver,Excellent,https://auto.am/offer/3027432,1.4,149,4,FWD,1.0,1.0,65.0
9406,Chevrolet,Volt,2014,10000.0,"Armenia, Lori",224000.0,Hatchback,Electric,Automatic,Left,White,Excellent,https://auto.am/offer/3036840,1.4,149,4,FWD,17.0,NaN,80.0

In [49]:
data_ev.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, 46 to 9406
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   car                        503 non-null    object
 1   model                      503 non-null    object
 2   year                       503 non-null    int64
 3   price                      503 non-null    float64
 4   region                     503 non-null    object
 5   Mileage                    503 non-null    float64
 6   Body Style                 503 non-null    object
 7   Engine                     503 non-null    object
 8   Gearbox                    503 non-null    object
 9   Hand Drive                 503 non-null    object
 10  Color                      503 non-null    object
 11  Condition                  503 non-null    object
 12  link                       503 non-null    object
 13  Engine Volume              503 non-null    float64
 14  Horsepower                 503 non-null    int32
 15  Engine Cylinders           503 non-null    int32
 16  Drive train                503 non-null    object
 17  Battery capacity in kW     484 non-null    float64
 18  Number of electric motors  307 non-null    float64
 19  Range                      378 non-null    float64
dtypes: float64(6), int32(2), int64(1), object(11)
memory usage: 78.6+ KB

In [50]:
data_ev.isnull().sum()

car                            0
model                          0
year                           0
price                          0
region                         0
Mileage                        0
Body Style                     0
Engine                         0
Gearbox                        0
Hand Drive                     0
Color                          0
Condition                      0
link                           0
Engine Volume                  0
Horsepower                     0
Engine Cylinders               0
Drive train                    0
Battery capacity in kW        19
Number of electric motors    196
Range                        125
dtype: int64

***Battery capacity in kW***

In [51]:
# Group by specified columns and transform 'Battery capacity in kW' column by filling missing values with median of each group
data_ev.loc[:, 'Battery capacity in kW'] = data_ev.groupby(step1)['Battery capacity in kW'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)

data_ev['Battery capacity in kW'].isnull().sum()

5

In [52]:
# Group by specified columns and transform 'Battery capacity in kW' column by filling missing values with median of each group
data_ev.loc[:, 'Battery capacity in kW'] = data_ev.groupby(step2)['Battery capacity in kW'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)

data_ev.loc[:, 'Battery capacity in kW'] = data_ev['Battery capacity in kW'].fillna(data_ev['Battery capacity in kW'].median()).astype(int)
data_ev['Battery capacity in kW'].isnull().sum()

0

***Number of electric motors***

In [53]:
# Group by specified columns and transform 'Number of electric motors' column by filling missing values with median of each group
data_ev.loc[:, 'Number of electric motors'] = data_ev.groupby(step1)['Number of electric motors'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)

data_ev['Number of electric motors'].isnull().sum()

47

In [54]:
data_ev.loc[:, 'Number of electric motors'] = data_ev.groupby(step2)['Number of electric motors'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)

data_ev.loc[:, 'Number of electric motors'] = data_ev['Number of electric motors'].fillna(data_ev['Number of electric motors'].median()).astype(int)
data_ev['Number of electric motors'].isnull().sum()

0

***Range***

In [55]:
# Group by specified columns and transform 'Range' column by filling missing values with median of each group
data_ev.loc[:, 'Range'] = data_ev.groupby(step1)['Range'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)

data_ev['Range'].isnull().sum()

27

In [56]:
data_ev.loc[:, 'Range'] = data_ev.groupby(step2)['Range'].transform(lambda x: x.fillna(x.median()) if x.notnull().any() else x)

data_ev.loc[:, 'Range'] = data_ev['Range'].fillna(data_ev['Range'].median()).astype(int)
data_ev['Range'].isnull().sum()

0

In [57]:
data_ev.to_csv('Electric.csv', index=False)